/*
    #E1E6B9 כהה
    #375D3B
    #ABC8A4
    #C4D7A4
    #E1E6B9 בהיר
    */
body {
    font-size: 16px;
    font-stretch: narrower;
    color: #375D3B;
    font-family: Arial;
    direction: rtl;
    margin: 10px;
    background-image: url("/Media/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    padding-bottom:15px;
}
.HideDiv {
    display: none;
}

.boldStyle {
    font-size: 22px;
    font-weight: bold;
}

.logo {
    margin-right: 400px;
}

ul {
    padding: 0px;
}

header li {
    width: 30%;
    display: inline-block;
    height: 65px;
    vertical-align: middle;
    background: #375D3B;
    /*rgba(43, 132, 0, 1);*/
    border-radius: 10px;
}

    header li:hover {
        background-color: #ABC8A4;
        transition: background .5s ease-out;
    }


    header li img {
        padding: 15px;
        vertical-align: middle;
    }

    header li a {
        color: #E1E6B9;
    }

    header li:first-child {
        width: 70px;
    }

main {
    width: 960px;
    margin: 0 auto;
}





.panel {
    width: 30%;
    height: 200px;
    float: right;
    color: #375D3B;
    margin: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    background: white;
    cursor: move;
}

    .panel:nth-child(4) {
        width: 96%;
    }

.paneldata {
    padding-top: 20%;
}

.panel:nth-child(4) .paneldata {
    padding-top: 5%;
}
#massages
{   height:119px;
    overflow:auto;
}

.paneldata span {
    font-size: 35px;
}

.wrapText {
    white-space: pre-wrap;
}



#Contact-form {
}

input, select {
    font-size: 18px;
    color: #375D3B;
    font-family: Arial;
    font-weight: bold;
}

 #Contact-form label
 {
    width: 100px;
}
 .error{
     color:red;
     width:auto!important;
     padding-right:10px;
}

.centerAlign{  
    text-align:center;
    } 



h1, h2 {
    margin: 10px;
}

button {
    background: #375D3B;
    color: #E1E6B9;
    width: 140px;
    height: 40px;
    vertical-align: middle;
    border-radius: 10px;
    border: none;
    font-size: inherit;
}

.btn {
    border-color: #375D3B !important;
    color: #375D3B !important;
    width:auto;/* 100px;*/
    height: 35px;
}

#Contact-form section div {
    margin-bottom: 10px;
}

.easy-autocomplete {
    display: inline;
}
.tableContact{
   /* margin-top:25px;*/
}
.tableContact, .tableTran, .tableReport{
    padding:25px;
    box-shadow:0px 4px 10px #E1E6B9;
    color:#375D3B;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #375D3B;
}

.contacts .title{
   text-align:center;
   font-size:22px;
}
.dataTables_wrapper .dataTables_filter input{
    margin-right:0.5em;
    border-radius:4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background-color:#375D3B;
}
  
tbody tr {
    cursor: pointer;
}
h1{
    text-align:center;
}
.reports div{
    margin-bottom:25px;
    text-align:center;
}
th{
    text-align:center;
}
table.dataTable thead .sorting{
    background-image: url('../Media/sort_both.png');

}
table.dataTable thead .sorting_asc{background-image:url("../Media/sort_asc.png")}
table.dataTable thead .sorting_desc{background-image:url("../Media/sort_desc.png")}
.dataTables_filter{
    margin-bottom:10px;
}
table.dataTable.display tbody tr.odd{background-color:#ABC8A4}
table.dataTable.stripe tbody tr.odd.selected,table.dataTable.display tbody tr.odd.selected{background-color:#acbad4}
table.dataTable.hover tbody tr:hover,table.dataTable.display tbody tr:hover,table.dataTable.display tbody tr:hover td.sorting_1{background-color:#9cfa7c}
table.dataTable.hover tbody tr:hover.selected,table.dataTable.display tbody tr:hover.selected{background-color:#9cfa7c}
table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#375D3B}
table.dataTable.order-column tbody tr.selected>.sorting_1,table.dataTable.order-column tbody tr.selected>.sorting_2,table.dataTable.order-column tbody tr.selected>.sorting_3,table.dataTable.display tbody tr.selected>.sorting_1,table.dataTable.display tbody tr.selected>.sorting_2,
table.dataTable.display tbody tr.selected>.sorting_3{background-color:#E1E6B9}
table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#ABC8A4}
table.dataTable.display tbody tr.odd>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd>.sorting_2{background-color:#f3f3f3}
table.dataTable.display tbody tr.odd>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd>.sorting_3{background-color:whitesmoke}
table.dataTable.display tbody tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1{background-color:#a6b4cd}
table.dataTable.display tbody tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2{background-color:#a8b5cf}
table.dataTable.display tbody tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3{background-color:#a9b7d1}
table.dataTable.display tbody tr.even>.sorting_1,table.dataTable.order-column.stripe tbody tr.even>.sorting_1{background-color:#ffffff}
table.dataTable.display tbody tr.even>.sorting_2,table.dataTable.order-column.stripe tbody tr.even>.sorting_2{background-color:#fcfcfc}
table.dataTable.display tbody tr.even>.sorting_3,table.dataTable.order-column.stripe tbody tr.even>.sorting_3{background-color:#fefefe}
table.dataTable.display tbodytr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1{background-color:#acbad5}
table.dataTable.display tbody tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2{background-color:#aebcd6}
table.dataTable.display tbody tr:hover>.sorting_2,table.dataTable.order-column.hover tbody tr:hover>.sorting_2{background-color:#ececec}
table.dataTable.display tbody tr:hover>.sorting_3,table.dataTable.order-column.hover tbody tr:hover>.sorting_3{background-color:#efefef}
table.dataTable.display tbody tr:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1{background-color:#a2aec7}
table.dataTable.display tbody tr:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2{background-color:#a3b0c9}
dataTable.display tbody tr:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3{background-color:#a5b2cb}